<div ng-init="connect(true)" window>
    <div window-page="landing" ng-show="!user.id">
        <div app-logo></div>
        <div app-slogon>新潮社交blabla</div>
        <form name="landing">
            <div class="info">
                <span ng-show="error.code==400">email已存在</span>
                <span ng-show="error.code==404">用户名或密码错误</span>
                <span ng-show="error.code==406">用户名或密码错误</span>
                <span ng-show="error.code==0">无法连接到服务器,请稍后再试</span>
            </div>
            <div form-line>
                <input type="text" ng-model="user.email" class="form-control" placeholder="email">
            </div>
            <div form-line>
                <input type="password" ng-model="user.password" class="form-control" ng-keyup="$event.keyCode==13&&login(user)" placeholder="password">
            </div>
            <div form-line>
                <button ng-click="login(user)" >登陆</button>
            </div>
            <div form-line ng-init="newUser">
                <a href="http://chat.zerojs.io:3002/user/register">还没有账号? 快注册</a>
            </div>
        </form>
    </div>

    <div window-page="chat" ng-show="user.id">
        <div window-header>
            <div>
                <div app-name>约吗</div>
                <div app-slogon>我们是新潮社交</div>
            </div>
            <div window-handlers>
                <a window-handler-minimal ng-click="messageComing=null"></a>
                <a window-handler-setting>
                    <div window-handler-dropdown>
                        <div window-handler-dropdown-item >
                            <div config-setter="chat.locked" true-value="{{room}}">锁定</div>
                        </div>
                        <div window-handler-dropdown-item >
                            <div config-setter="auto">自动打开</div>
                        </div>
                        <div window-handler-dropdown-item >
                            <div config-setter="mark.visible" >反人类模式</div>
                        </div>
                        <div window-handler-dropdown-item ng-click="logout()">
                            <label>退出账号</label>
                        </div>
                        <div window-handler-dropdown-item window-handler-close>
                            <label>关闭应用</label>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div window-overview window-handler-full-trigger >
            <div app-conversations-status ng-class="{active:messageComing}" ng-click="messageComing=null"></div>
        </div>


        <div window-body>
            <div app-room>
                <input app-room-input type="text" ng-keyup="$event.keyCode==13&&join(room)" ng-model="room" ng-disabled="locked">
            </div>

            <div app-info ng-if="info&&info.code!==200">
                <span ng-if="info.code==409">您的账号已在别处登陆</span>
                <a ng-click="clearInfo()" app-info-close>x</a>
            </div>

            <div app-conversations ng-if="length(conversations)>1">
                <div app-conversation ng-repeat="conversation in conversations" ng-click="changeConversation(conversation.user)" ng-class="{active:currentConversation.user.id==conversation.user.id}">
                    <span app-conversation-avatar>
                        <img ng-if="conversation.user.avatar" ng-src="{{conversation.user.avatar}}">
                    </span>
                    <span app-conversation-unread ng-class="{active:conversation.unread>0}"></span>
                    <span app-conversation-status ng-class="{active:currentConversation.user.id==conversation.user.id,inActive:conversation.user.offline}"></span>
                </div>
            </div>


            <div app-messages auto-scroll="message.received,message.sent">
                <div ng-repeat="message in currentConversation.messages" app-message>
                    <div app-message-header ng-class="{tar:message.from.id==user.id}">
                        <a ng-click="changeConversation(message.from)" app-message-user-name>{{message.from.name}}</a>
                        <span app-message-time>{{message.time}}</span>
                    </div>
                    <div app-message-body ng-class="{tar:message.from.id==user.id}">
                        <!--<div class="triangle" ng-class="{right:!message.from.id,bgb:!message.from.id}"></div>-->
                        <div ng-class="{bgb:message.from.id==user.id}" ng-bind-html="message.content" app-message-content></div>
                    </div>
                </div>
            </div>

            <div app-sender  ng-show="user.id">
                <div app-sender-input contenteditable="{{connected}}"
                     class="form-control"
                     ng-disabled="!connected"
                     ng-keyup="send"
                     placeholder="按 回车 发送"
                    >
                    <div ng-if="!connected">您已掉线</div>
                </div>
            </div>
        </div>
    </div>
</div>