<div mark-input="markInput" mark-create="createMark"></div>

<div ng-if="openMode=='full'" ng-repeat="mark in displayMarks" mark="mark">
</div>


<div ng-if="count!==0&&openMode=='full'" mark-scroll view="view" count="count" on-load="getMarks" terminal="terminal" on-move="updateDisplay"></div>

<div mark-handlers>
    <div ng-show="openMode=='full'" mark-handler mark-handler-close></div>
    <div ng-show="openMode!='full'" mark-handler  mark-handler-open></div>
</div>
<style>
    [mark]{
        background: #fff;
        padding: 2px 8px;
        border-left: 3px #9AE4F1 solid;
        opacity: .5;
        transition: opacity .2s;
    }
    [mark-mode=true] [mark]{
        opacity: 1;
    }

    [mark-input] input{
        background: #fff;
        padding: 2px 8px;
        border : 0px #fff solid;
        border-left: 3px #9AE4F1 solid;
    }

    [mark-input] input:focus{
        outline: none;
    }

    [mark-handlers]{
        box-shadow: 0 0 20px rgba(0,0,0,.42);
        padding: 5px;
        position: fixed;
        bottom:0;
        right : 23px;
        height:35px;
        background: #fff;
    }

    [mark-handler]{
        display: inline-block;
        width: 14px;
        height: 18px;
        background: #eee;
        cursor: pointer;
    }

    [mark-handler-close]{
        border-bottom: 5px #34C8E2 solid;
    }
    [mark-handler-open]{
        border-top: 5px #34C8E2 solid;
    }
</style>
